/*IMPORTANDO A FONTE DAS LETRAS DO google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*DEFINIR AS CONFIGURAÇÕES EM TODOS ELEMENTOS DA PÁGINA*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIÁVEIS*/
:root {
    --cor01: #5f42a3;
    --cor02: #5c2323;
    --cor3: #0bbd87;
    --cor4: #ffffff;
}

/*FORMATANDO A TAG MAIN PELO ID geral*/
#geral {
    margin: 20px;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

/*FORMATANDO O CABEÇALHO*/
#cabecalho {
    background-color: #0eb180;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 60px;

}

/*CONFIGURAR MENU NA HORIZONTAL*/
#menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

#menu ul img {
    width: 25px;
    height: 25px;
}

/*FORMATANDO SECTION pesquisa*/
#pesquisa {
    width: 100%;
    height: 200px;
    background-color: var(--cor01);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesquisa input {
    width: 650px;
    height: 80px;
    background-color: var(--cor4);
    border-radius: 8px;
}

#pesquisa input::placeholder {
    font-size: 1.3em;
    font-style: italic;
    color: var(--cor03);
}

/*FORMATANDO OS CARDS*/
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fi, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0px;
    width: 1000px;
    min-height: 800px;
}

.card{
    margin: 20px 0px;
    width: 250px;
    min-height: 450px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor02);
}
.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 150px;
    height: 200px;
    margin: 10px 0px;
}

.card p{
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 20px 0px;
}

.card h2{
    color: var(--cor3);
}

.card button{
    width: 200px;
    height: 30px;
    margin: 25px;
    border: none;
    background-color: var(--cor3);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--cor02);
    font-weight: bold;
    cursor: pointer;
}



/*FORMATAR O RODAPÉ*/

#rodape{
    width: 100%;
    height: 250px;
    background-color: var(--cor3);
    margin: 20px 0px;
    padding: 10px;
    color: var(--cor01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*FORMATANDO LINKS*/
#menu a:link{
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor3);
}

#menu a:visited{
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor3);
}

#menu a:hover{
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor01);
}

#menu a:active{
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor01);
}