/* IMPORTANDO FONTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* CONFIGURAÇÕES GERAIS */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Roboto, sans-serif;
}

/* VARIÁVEIS */

:root{
    --cor01:#4500e6;
    --cor02:#5c2323;
    --cor03:#2f25bb;
    --cor04:#ffffff;
}

/* MAIN */

#geral{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* CABEÇALHO */

#cabecalho{
    width:100%;
    height:60px;
    background:#e7e7e7;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 20px;
}

#menu ul{
    display:flex;
    list-style:none;
    gap:30px;
    align-items: center;
}

#menu ul img{
    width:25px;
    height:25px;
}

#menu a{
    text-decoration:none;
    color:var(--cor01);
    text-transform:uppercase;
    letter-spacing: 2px;
}

#menu a:hover{
    color:var(--cor03);
}

/* ÁREA LOGIN */

#login{

    width:350px;

    margin:60px auto;

    border:1px solid var(--cor02);

    padding:30px;

    display:flex;
    flex-direction:column;
    align-items:center;
}

#login h1{

    margin-bottom:25px;

    color:var(--cor01);
}

#login form{

    width:100%;

    display:flex;
    flex-direction:column;
}

#login label{

    margin-top:10px;
    margin-bottom:5px;
}

#login input{

    height:40px;

    padding:10px;

    border:1px solid #999;

    border-radius:5px;
}

#login button{

    margin-top:25px;

    height:40px;

    border:none;

    background:var(--cor01);

    color:white;

    font-size:16px;

    cursor:pointer;
}

#login button:hover{

    background:var(--cor03);
}

#login p{

    margin-top:20px;
}

#login a{

    text-decoration:none;

    color:var(--cor01);
}

/* RODAPÉ */

#rodape{

    width:100%;

    height:120px;

    background:#e7e7e7;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    margin-top:auto;
}

#rodape h2{

    font-size:18px;

    color:var(--cor01);
}

#rodape p{

    margin-top:10px;
}